<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'Arte</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./src/Larte.png" type="image/x-icon">
</head>

<body>
    <main>
        <section class="titulo">
            <div class="tituloQuemSomos">
                <h1 class="tituloDesign">Design Gráfico</h1>
                <span class="tituloQuemSomosDados">Quem Somos:</span>
                <p class="QuemSomosDados">
                    Bem-vindo à L'Arte, um ateliê virtual dedicado à
                    criação sofisticada de logos, banners, posts e
                    edição de imagens. Fundada em 2023, a L'Arte
                    foi concebida para destacar o toque harmônico
                    e culto da arte em cada projeto.</p>
            </div>
            <div class="line" id="lineTitulo"></div>
            <img class="iconImg" src="./src/Larte.png" alt="IconDeLArte">
        </section>


        <section class="ator-atendimanto">
            <section class="ator-hablidades">
                <img class="ator" src="./src/ator.png" alt="icon-funcionario-de-lArte">
                <div class="nome-habilidades">
                    <span class="funcao">Designer</span>
                    <span class="nome">Hideki Ando Camillher</span>
                </div>
                <div class="line"></div>
                <div class="habilidades">
                    <span class="habilidadesDados">
                        Logos, Banners, Posts e edição de video.
                    </span>
                </div>
            </section>
            <section class="card-flela">
                <div class="elips"></div>
                <div class="line" id="line-frela"></div>
                <section class="Atendimento-freela">
                    <h1 class="titulo-flela">Atendimento Freela</h1>
                    <span class="servicos">Logo = R$ 200</span>
                    <span class="servicos">Banner = R$ 45-250</span>
                    <span class="servicos">Art Post = R$ 60/Per Post</span>
                </section>
                <div class="line" id="line-frela"></div>

            </section>
        </section>
        <section class="contato">
            <h1 class="Contato-titulo">Contato:</h1>
            <div class="dadosContatos">
                <div class="line" id="line-frela"></div>
                <section class="contatos">
                    <div class="dados"  id="whats">
                        <img class="imgMidias" src="./src/whats.svg" alt="NumeroDeWhatszap"> 
                        <span class="dadosContato">12 99134-6803</span>
                    </div>
                    <div class="dados"  id="insta">
                        <img class="imgMidias" src="./src/insta.svg" alt="Instagram"> 
                        <span class="dadosContato">Hideki Profissional</span>
                    </div>
                    <div class="dados"  id="email">
                        <img class="imgMidias" src="./src/email.svg" alt="Email"> 
                        <span class="dadosContato">hideki.professional.work@gmail.com</span>
                    </div>
                </section>
            </div>
        </section>

    </main>

    <script type="module" src="../controller/controller.js"></script>

</body>

</html>